image: docker:19.03.12

stages:
  - build
  - push
  - deploy

default:
  before_script:
    - echo -n $CI_JOB_TOKEN | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY

services:
  - docker:19.03.12-dind

build:
  stage: build
  variables:
    DOCKER_DRIVER: overlay2
  rules:
    - if: $CI_COMMIT_BRANCH == 'main'
  environment:
    name: production
  script:
    - docker pull $CI_REGISTRY_IMAGE:compile-stage || true
    - docker pull $CI_REGISTRY_IMAGE:latest || true
    - >
      docker build
      --pull
      --target compile-image
      --cache-from $CI_REGISTRY_IMAGE:compile-stage
      --tag $CI_REGISTRY_IMAGE:compile-stage
      --file ./docker/app/Dockerfile
      .
    - >
      docker build
      --pull
      --target runtime-image
      --cache-from $CI_REGISTRY_IMAGE:compile-stage
      --cache-from $CI_REGISTRY_IMAGE:latest
      --tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
      --tag $CI_REGISTRY_IMAGE:latest
      --file ./docker/app/Dockerfile
      .
    - docker push $CI_REGISTRY_IMAGE:compile-stage
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
    - docker push $CI_REGISTRY_IMAGE:latest

push:
  stage: push
  only:
    - main
  script:
    - docker pull $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
    - docker tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE:latest
    - docker push $CI_REGISTRY_IMAGE:latest

deploy:
  stage: deploy
  image: docker:19.03.12
  variables:
    DOCKER_DRIVER: overlay2
  services:
    - docker:19.03.12-dind
  rules:
    - if: $CI_COMMIT_BRANCH == 'main'
  environment:
    name: production
  before_script:
    - echo -n $CI_JOB_TOKEN | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
    - 'which ssh-agent || (apt-get update -y && apt-get install openssh-client -y)'
    - eval $(ssh-agent -s)
    - cat "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - DOCKER_HOST="ssh://$SERVER_USER@$SERVER_HOSTNAME:$SSH_PORT" docker stack deploy -c docker-compose.prod.yml $SWARM_NAME
