
{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='/static/css/reset.min.css'>
        <link rel='stylesheet' href='/static/css/style.css'>
        <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
        <title>{{template "title" .}} - Maybe List</title>
    </head>
    <body>
      <header class="center header__content">
        <h1 class="mt"><a href="/">Maybe List</a></h1>
        <img class="center"src="/static/img/question.svg" alt="question" width="50rem" height="50rem">
      </header>
      <nav class="wrapper cluster nav__content">
        <div>
          <a href="/">Home</a>
          <a href="/users/signup">Signup</a>
          <a href="/users/login">Login</a>
          <form action='/users/logout' method='POST'>
              <button>Logout</button>
          </form>
        </div>
      </nav>
      <main class="wrapper stack main__content">
        {{with .Flash}}
         <div class="center flash__container">
            <div class="flash">{{.}}</div>
         </div>
        {{end}}
        {{template "main" .}}
      </main>
    </body>
    {{template "footer" .}}
</html>
{{end}}
