
{{define "base"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=1280, initial-scale=1">
        <link rel="stylesheet" href="/static/css/reset.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
        <title>{{template "title" .}} - Maybe List</title>
    </head>
    <body>
      <header class="center header__content">
        <h1 class="mt"><a href="/">Maybe List</a></h1>
        <img class="center"src="/static/img/question.svg" alt="question" width="50rem" height="50rem">
      </header>
      <nav class="wrapper cluster nav__content">
        <div>
          <a href="/">Home</a>
          {{if .IsAuthenticated}}
          <a href="/maybes/new">New</a>
          <a href="/tags">Tags</a>
          {{end}}
        </div>
        <div class="cluster">
            {{if .IsAuthenticated}}
            <a href="/users/profile/">Profile</a>
            <form action="/users/logout" method="POST">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <button>Logout</button>
            </form>
          {{else}}
          <a href="/users/signup">Signup</a>
          <a href="/users/login">Login</a>
          {{end}}
        </div>
      </nav>
      <main class="wrapper__medium stack main__content">
        {{with .Flash}}
          <div class="flash">{{.}}</div>
        {{end}}
        {{template "main" .}}
      </main>
    </body>
    {{template "footer" .}}
</html>
{{end}}
