{{template "base" .}}

{{define "title"}}Create a New Entry{{end}}

{{define "main"}}
<form class="center form" action="/users/change-password" method="POST">
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
  {{with .Form}}
  <div class="stack form-background">
    <div>
      <label>
        <span>Current password:</span>
        {{with .Errors.Get "current password"}}
        <label class="error">{{.}}</label><br />
        {{end}}
        <input type="password" name="current password" />
      </label>
    </div>
    <div>
      <label>
      <span>New password:</span>
        {{with .Errors.Get "password"}}
        <label class="error">{{.}}</label><br />
        {{end}}
        <input type="password" name="password" />
      </label>
    </div>
    <div>
      <label>
        <span>Confirm password:</span>
        {{with .Errors.Get "confirm password"}}
        <label class="error">{{.}}</label><br />
        {{end}}
        <input type="password" name="confirm password" />
      </label>
    </div>
    <div>
      <input type="submit" value="Change password" />
    </div>
  </div>
  {{end}}
</form>
{{end}}
