{{define "footer"}}
    <footer class="footer">
    <p>Powered by <a href='https://golang.org/'>Go</a> in 2021</p>
    <small>Source Code available on <a href="https://github.com/sophiabrandt/go-maybe-list">GitHub</a></small>
    </footer>
{{end}}

