{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
<h2 class="center">Latest Entries</h2>
    {{if .IsAuthenticated}}
      {{if .Maybes}}
      <div class="center">
          <div class="grid stack">
            {{range .Maybes}}
              {{template "maybe" .}}
            {{end}}
          </div>
      </div>
      {{else}}
        <p class="center">Nothing to see here yet.</p>
        <p class="center">Do you want to create a <a href="/maybes/create">new entry</a>?</p>
      {{end}}
    {{else}}
    <p class="center">Please <strong><a href="/users/login">login</a></strong> or <strong><a href="/users/signup">sign up</a></strong>.</p>
    {{end}}
{{end}}
