{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
<h2 class="center">Latest Entries</h2>
<p class="center">Please <strong><a href="/login">login</a></strong> or <strong><a href="/signup">sign up</a></strong>.
{{end}}
