{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
<div class="box">
  <form class="stack" action="/users/login" method="POST" novalidate>
    {{with .Form}}
    {{with .Errors.Get "generic"}}
    <div class="error">{{.}}</div>
    {{end}}
    <input type="hidden" name="csrf_token" value="" />
    <div>
      <label>Email:</label>
      <input type="email" name="email" value="{{.Get "email"}}" />
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="password" />
    </div>
    <div>
      <input type="submit" value="login" />
    </div>
    {{end}}
  </form>
</div>
{{end}}
