{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
<h2 class="center">Latest Entries</h2>
    {{if .Maybes}}
    <div class="center">
        <div class="grid stack">
          {{range .Maybes}}
            {{template "maybe" .}}
          {{end}}
        </div>
    </div>
    {{else}}
    <p class="center">No entries available. Create a <a href="/maybes/new">new entry</a>?</p>
{{end}}
{{end}}
