{{template "base" .}}

{{define "title"}}Maybe #{{.Maybe.ID}}{{end}}

{{define "main"}}
    <div class="center">
        <div class="grid stack">
        {{with .Maybe}}
          <div class="box stack">
            <h3>{{.Title}}</h3>
            <p><a href="{{.Url}}">{{.Url}}</a></p>
            <p>{{.Description}}</p>
          </div>
          <div class="cluster center">
            <div>
              <a href="/maybes/{{.ID}}/update"><button>Update 🖉</button></a>
              <button>Bookmark 🔖</button>
            </div>
              <form action="/maybes/{{.ID}}/delete" method="POST">
                  <span class="danger">Danger Zone:</span><button class="danger--button" type="submit">Delete ⚠️</button>
              </form>
          </div>
        {{end}}
        </div>
    </div>
{{end}}
