{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
<div class="box">
  <form class="stack" action="/users/signup" method="POST" novalidate>
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    {{with .Form}}
    <div>
      <label for="name">Name:</label>
      {{with .Errors.Get "name"}}
      <label class="error">{{.}}</label>
      {{end}} <input type="text" name="name" value="{{.Get "name"}}" />
    </div>
    <div>
      <label for="email">Email:</label>
      {{with .Errors.Get "email"}}
      <label class="error">{{.}}</label>
      {{end}} <input type="email" name="email" value="{{.Get "email"}}" />
    </div>
    <div>
      <label for="password">Password:</label>
      {{with .Errors.Get "password"}}
      <label class="error">{{.}}</label>
      {{end}}
      <input type="password" name="password" />
    </div>
    <div>
      <label for="confirm password">Confirm Password:</label>
      {{with .Errors.Get "confirm password"}}
      <label class="error">{{.}}</label>
      {{end}}
      <input type="password" name="confirm password" />
    </div>
    <div>
      <input type="submit" value="signup" />
    </div>
    {{end}}
  </form>
</div>
{{end}}
